@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #36393e;
}

h1, h2, p {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
h2 {
    font-weight: 900;
}
h3 {
    color: #ffffff80;
    font-family: 'Nunito Sans', sans-serif;

}

.huge {
    display: flex;
    flex-wrap: wrap;

}
#head, .subHead {
    text-align: center;
}

.big {
    margin: 1em;
    display: flex;
    width: 45vw;
}
.huge > .big > img{
    width: 40%;
    margin-right: 1em;
    object-fit: cover;
}
.small {
    width: 60%;
}
a {
    text-decoration-color: white;
}
#bigLink {
    text-align: center;
}
#linkk {
    color: white;
}

.createBot {
    text-align: center;
}
input {
    margin: 1em;
    width: 20vw;
    height: 2em;
}
#createBotButton {
    margin: 1em;
    width: 40vw;
    height: 2.5em;
    background-color: rgb(129, 255, 107);
}
#destroyBotButton {
    margin: 1em;
    width: 20vw;
    height: 2.5em;
    background-color: rgb(240, 103, 103);
}
#deadBot {
    width: 40vw;
}

.profile {
    margin: 1em;
    text-align: center;
}
.showRobotImage {
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.txt {
    padding: 1em;
}
#showRobotImage {
    width: 40vw;
}
.profile {
    border: white;
}